* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear:both;
}
main {
  overflow: auto;
}
main .container {
  overflow: auto;
}
nav .container {
  border: purple;
  overflow: auto;
}
nav {
  background-color: silver;
  overflow: auto;
}
nav li {
  float: left;
  margin: 0;
  padding: .5rem .5rem .5rem .5rem;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
}
article {
  float: left;
}
.main-article {
  width: 70%;
}
.side-bar-article {
  width: 30%;
  float: right;
}

header {
  background-color: lightblue;
}
footer {
  background-color: grey;
  text-align: center;
  clear: both;
}
